<header>
    <nav id="nav">
        <div class="nav-wrapper #43a047 green darken-1">
            <a href="/journal" class="center brand-logo">Journal</a>
            
            <ul id="nav-mobile">
                <li><a href="/journal/new" class="left sidenav-trigger #00c853 green accent-4"><i class="small material-icons">add_box</i></a></li>
            </ul>
                <a href="/journal" data-target="side-bar" class="right sidenav-trigger">
                </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down #00c853 green accent-4">
                <li><a href="/journal/new">Create</a></li>
            </ul>
        </div>
    </nav>
</header>