#hidden {
    display: none;
}
.indica {
    color: purple;
}
.sativa {
    color: red;
}
.hybrid {
    color: green;
}
nav .nav-wrapper .brand-logo {
    padding-left: 15px;
}
#main .spacing {
    margin-top: 10px;
    padding: 15px;
}
#main {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#main h1{
    background-color: white;
    color: green;
    font-size: 60px;
}
#main h3 {
    font-size: xx-large;
}
#main #auth {
    border: none;
    padding: 0px 30px 30px 30px;
    margin: 10px;
}
#main #auth button, 
#main #auth #login input[type=submit], 
#main #auth #signup input[type=submit],
#edit .edit-entry input[type=submit],
#new .new-entry input[type=submit],
#show .show button {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 10px;
    padding: 10px 40px 10px 40px;
    border: 3px solid green;
    border-radius: 15px;
    color:white;
    background-color: rgba(0, 128, 0, 0.69);
}
#main #auth #login, #main #auth #signup {
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 10px 10px;
}
#main #auth #login input, #main #auth #signup input {
    padding: 5px;
    margin: 3px
}
#edit, #show, #new, #index{
    max-width: 80%;
    margin: auto;
}

#edit .edit-entry , #new .new-entry{
    max-width: 75%;
    margin: auto;
    padding-bottom: 30px;
}
#edit fieldset, #new fieldset {
    border: 2px solid black;
    background-color: white;
    border-right: 3px solid green;
    border-bottom: 3px solid green;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
    box-shadow: 5px 5px 10px 3px rgba(0, 128, 0, 0.69)
}
#edit fieldset legend, #new fieldset legend {
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width:100%;
}
#edit label, #new label {
    font-size: 16px;
    text-align: center;
    max-width: max-content;
    margin: auto;
    align-content: center;
}
#edit input[type=text], #new input[type=text] {
    padding: 5px;
    width: 50%;
    margin: auto;
}
#edit textarea, #new textarea {
    height: 8rem;
    padding: 10px;
    font-size: 16px;
    background-color: white;
}
#edit .edit-entry .cancel-btn, #new .new-entry .cancel-btn {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 10px;
    padding: 10px 40px 10px 40px;
    border: 3px solid green;
    border-radius: 15px;
    color:white;
    background-color: rgba(255, 0, 0, 0.69);
}
#show .show{
    text-align: center;
}
#new .new-entry .new-form, #edit .edit-entry .edit-form {
    text-align: center;
}
#nav .logout input[type=submit]{
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 10px;
    border-radius: 15px;
    color:white;
    background-color: rgb(190, 0, 0);
}
#index #feed {
    display: flex;
    flex-direction: column-reverse;
    align-self: center;
    padding: 30px; 
    margin: 0;
}
#index #feed #entry-container .row {
    width: 100%;
}
.card-width{
    width: 100%;
}
#index #entry-container .card .content span legend.valign-wrapper {
    display:flex;
    justify-content: space-between;
    padding: 0 5px 0 5px;
}
#index #entry-container .card .content span legend.valign-wrapper .username {
    text-decoration: none;
    color: rgb(36, 116, 35);
}
#index #entry-container .card .content span legend.valign-wrapper .strain {
    font-size: 16px;
    color: black;
    letter-spacing: 0.25px;
}
#index #entry-container .card .content span legend.valign-wrapper .date-like .date-posted{
    margin-right: 10px;
}
#index #entry-container .card .content span legend.valign-wrapper .date-like i {
    margin-right: 5px;
}
#index #entry-container .card .content .extra-container {
    display: flex;
    justify-content: space-evenly;
}
#index #entry-container .card .content .extra-container .extra1, 
#index #entry-container .card .content .extra-container .extra2 {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
#index #entry-container .card .content span.description {
    font-size: 14px;
}
#index #entry-container .card .content .extra-container .btn {
    border-radius: 10px;
    text-decoration: none;
    color: white;
}